html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial;
}

button {
  cursor: pointer;
}

.header {
  background-color: #75d77f;
  color: #fff;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.hide {
  display: none;
}

.section-main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: calc(100vh - 65px);
}

.section-main > div {
  margin: 0 auto;
  flex: 1;
}

.section-main .main-left {
  background-color: rgba(222, 222, 222, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.upload {
  width: 50%;
  background-color: #fff;
  padding: 3.5rem 1.5rem;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(5, 5, 5, 0.2);
}

.section-main .main-right {
  padding: 1rem;
}

.main-right h1 {
  text-align: center;
  padding: 1rem 0 2rem 0;
  color: #777777;
  font-weight: 300;
  font-size: 2rem;
  border-bottom: 1px solid silver;
}

.choose {
  background-color: #ccc;
  display: flex;
  box-shadow: 0 3px 3px rgba(5, 5, 5, 0.2);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.upload-icon {
  padding: 1rem 1.5em;
  background-color: #75d77f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-icon img {
  width: 100%;
}

.choose span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: #75d77f;
  background-color: #fff;
}

.form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 2rem;
}

.form h1 {
  color: #999;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.title {
  padding: 1rem 0.5rem;
  display: flex;
  box-shadow: 0 3px 3px rgba(5, 5, 5, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  color: #777;
  border-radius: 10px;
}

.title input {
  flex: 1;
  padding: 0 1rem;
  color: #75d77f;
  font-size: 1.1rem;
}

.form input[type="text"] {
  outline: none;
  border: none;
}

.upload-btn {
  align-self: center;
  background-color: #75d77f;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 3px 3px rgba(5, 5, 5, 0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  padding-right: 0.3rem;
}

.upload-btn .upload-icon {
  width: 50%;
}

.upload-btn .upload-icon img {
  width: 100%;
}

.upload-btn span {
  padding-right: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 16px;
  height: 100%;
  overflow: scroll;
}

.gallery-img img {
  width: 100%;
  object-fit: fill;
  transition: all 0.1s;
}

.gallery-img img:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  transform: translateX(-200px) scale(1.7);
}

.modal {
  width: 52%;
  box-shadow: 0 0 30px 10px rgba(5, 5, 5, 0.2);
  display: none;
  flex-flow: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #fff;
}

.modal-act {
  text-align: center;
  margin-top: auto;
  border-top: 1px solid #ccc;
  padding: 0.5rem 0;
}
.modal-act button {
  padding: 0.7rem 2rem;
  border: none;
  background-color: #75d77f;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  color: #fff;
  box-shadow: 0 3px 5px rgba(5, 5, 5, 0.2);
}

.modal-body {
  padding: 0.5rem;
  height: 40vh;
}

.modal-body img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-header {
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  color: #fff;
}

.modal-header span {
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 480px) {
  .section-main {
    flex-direction: column;
  }
}
